*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
        "header header"
        "menu main";
    transition: 0.5s ease;
}

.content.menu-hidden{
    grid-template-columns: 0fr 1fr;
}

.header{
    background-color: #B15505;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    grid-area: header;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #B15505;
    color: #FFF3D8;
    font-size: 20px;
    text-align: center;
    grid-area: menu;
    overflow: hidden;
    transition: ease 0.5s;
}

.menu.active{
    visibility: hidden;
}

.menu img{
    width: 35px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 12%;
}

.rentals, .users, .publishers, .dashboard{
    background-color: #B15505;
    color: #FFF3D8;
}

.books{
    background-color: #FFF3D8;
    color: #B15505;
}

.menu-button{
    color: #FFF3D8;
    text-align: right;
    font-size: 30px;
}

.logotype-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.user-container{
    display: flex;
    flex-direction: row;
    color:#FFF3D8;
    align-items: center;
    justify-self: end;
}

.user-container img{
    width: 70px;
    height: auto;
}

.user-organizer{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.configurations{
    color: #fff3d8ac;
    cursor: pointer;
}

.main{
    padding: 0.8rem;
    background-color: #FFF3D8;
    grid-area: main;
}

.main-button{
    display: flex;
    align-items: center;
    width: 250px;
    color: #B15505;
    font-size: 28px;
}

.return-icon{
    width: 35px;;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: ease 0.5s;
}

.return-icon.visible{
    visibility: visible;
    opacity: 1;
}

.logo-text{
    color: #FFF3D8;
}

.logo-icon{
    width: 15%;
    height: auto;
}

.menu-modal{
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #B15505;
    left: 82%;
    top: 12%;
    color: #FFF3D8;
    visibility: hidden;
    cursor: pointer;
    width: 240px;
    opacity: 0;
    height: 100px;
    z-index: 100;
    transition: ease 0.2s;
}

.menu-modal.active{
    visibility: visible;
    opacity: 1;
    
}

.preferences{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
}

.preferences:hover{
    background-color:#954907
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
}

.logout:hover{
    background-color:#954907
}