*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
        "header header"
        "menu main";
    transition: 0.5s ease;
}

.content.menu-hidden{
    grid-template-columns: 0fr 1fr;
}

.header{
    background-color: #B15505;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    grid-area: header;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #B15505;
    color: #FFF3D8;
    font-size: 20px;
    text-align: center;
    grid-area: menu;
    overflow: hidden;
    transition: ease 0.5s;
}

.menu.active{
    visibility: hidden;
}

.menu img{
    width: 35px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 12%;
}

.rentals, .users, .publishers, .books{
    background-color: #B15505;
    color: #FFF3D8;
}

.dashboard{
    background-color: #FFF3D8;
    color: #B15505;
}

.menu-button{
    color: #FFF3D8;
    text-align: right;
    font-size: 30px;
}

.logotype-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.user-container{
    display: flex;
    flex-direction: row;
    color:#FFF3D8;
    align-items: center;
    justify-self: end;
}

.user-container img{
    width: 70px;
    height: auto;
}

.user-organizer{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.configurations{
    color: #fff3d8ac;
    cursor: pointer;
}

.main{
    padding: 0.8rem;
    background-color: #FFF3D8;
    grid-area: main;
}

.main-title{
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 20px;
    color: #B15505;
    font-size: 28px;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.dashboard-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.dashboard-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding: 20px;
    background-color: #FFF3D8;
    border: 3px solid #B15505;
    border-radius: 10px;
    color: #B15505;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title{
    font-size: 16px;
    font-weight: 500;
}

.card-info h2{
    font-size: 32px;
}

.dashboard-card img{
    width: 45px;
    height: 45px;
}

.search-input{
    padding: 10px;
    width: 120%;
    height: 32px;
    border: 2px solid #B15505;
    background-image: url('../../assets/icons/Search.svg');
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 22px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #B15505;
    background-color: #FFFBEC;
    font-size: 14px;
    outline: none;
}

.search-input::placeholder{
    color: #b1550575;
    font-size: 14px;
}

.filter-side{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filter-button, .add-button{
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.filter-button{
    width: 100%;
    background-color: #FFF3D8;
    background-image: url('../../assets/icons/Funnel.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
    padding-left: 25px;
    color: #B15505;
    border: 2px solid #B15505;
}

.add-button{
    width: 100%;
    background-color: #B15505;
    background-image: url('../../assets/icons/PlusMath.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
    padding-left: 28px;
    color: #FFF3D8;
    border: 2px solid #B15505;
}

.dashboard-table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #B15505;
    border-radius: 10px;
    color: #B15505;
}

.dashboard-table{
    width: 100%;
    border-collapse: collapse;
}

.dashboard-table tr{
    border-bottom: 2px solid #B15505;
}

.dashboard-table td, th{
    text-align: left;
    padding: 10px;
}

.dashboard-status{
    background-color: transparent;
}

.dashboard-status.del-late{
    background-color: #ffe6009a;
    color: #c3b00a;
    padding: 4px;
    border-radius: 10px;
    font-weight: 550;
}

.dashboard-status.del-in-time{
    background-color: #85ff6f93;
    color: #169600;
    padding: 4px;
    border-radius: 10px;
    font-weight: 550;
}

.dashboard-status.in-term{
    background-color: #85ff6f93;
    color: #169600;
    padding: 4px;
    border-radius: 10px;
    font-weight: 550;
}

.dashboard-status.late{
    background-color: #ff4e4e8d;
    color: #ac020b;
    padding: 4px;
    border-radius: 10px;
    font-weight: 550;
}

.button-renove{
    padding: 7px;
    background-color: #FFF3D8;
    border: 2px solid #B15505;
    border-radius: 5px;
    color: #B15505;
    font-weight: 400;
}

.button-devolut-return{
    background-image: url('../../assets/icons/BorrowBook.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
    width: 30px;
    height: 30px;
    padding: 9.4px;
    background-color: #FFF3D8;
    border: 2px solid #B15505;
    border-radius: 5px;
    color: #B15505;
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 12px;
}

.pagination-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.pagination-button{
    width: 30px;
    height: 30px;
    background-color: #FFF3D8;
    border: 2px solid #B15505;
    border-radius: 5px;
    color: #B15505;
    font-weight: bold;
}

#back-pagination{
    background-image: url('../../assets/icons/BackPagination.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
}

#front-pagination{
    background-image: url('../../assets/icons/front-pagination.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 2px center;
}

.return-icon{
    width: 35px;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: ease 0.5s;
}

.return-icon.visible{
    visibility: visible;
    opacity: 1;
}

.logo-text{
    color: #FFF3D8;
}

.logo-icon{
    width: 15%;
    height: auto;
}

.menu-modal{
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #B15505;
    left: 82%;
    top: 12%;
    color: #FFF3D8;
    visibility: hidden;
    cursor: pointer;
    width: 240px;
    opacity: 0;
    height: 100px;
    z-index: 100;
    transition: ease 0.2s;
}

.menu-modal.active{
    visibility: visible;
    opacity: 1;
}

.preferences{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
}

.preferences:hover{
    background-color:#954907
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
}

.logout:hover{
    background-color:#954907
}

.dashboard-table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #B15505;
    border-radius: 10px;
    color: #B15505;
    margin-top: 10px;
}