*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
        "header header"
        "menu main";
}

.header{
    background-color: #B15505;
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: header;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #B15505;
    color: #FFF3D8;
    font-size: 20px;
    text-align: center;
    grid-area: menu;
}

.menu img{
    width: 35px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 12%;
}

.rentals, .dashboard, .publishers, .books{
    background-color: #B15505;
    color: #FFF3D8;
}

.users{
    background-color: #FFF3D8;
    color: #B15505;
}

.menu-button{
    color: #FFF3D8;
    text-align: right;
    font-size: 30px;
}

.logotype-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn-logout{
    background-color: #B15505;
    color: #FFF3D8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.exit-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: end;
}

.main{
    padding: 2rem;
    background-color: #FFF3D8;
    grid-area: main;
}

.logo-text{
    color: #FFF3D8;
}

.logo-icon{
    width: 15%;
    height: auto;
}