*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5vw;
    grid-template-areas: 
        "header"
        "main";
}

.header{
    background-color: #B15505;
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: header;
    padding: 10px;
}

.logotype-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn-logout{
    background-color: #B15505;
    color: #FFFBEC;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.exit-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: end;
}

.main{
    padding: 2rem;
    background-color: #FFF3D8;
    grid-area: main;
}

.logo-text{
    color: #FFF3D8;
}

.logo-icon{
    width: 15%;
    height: auto;
}