*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: #FFF3D8;
    height: 70vh;
    border-left: solid 6px #B15505;
    border-right: solid 6px #B15505;
    border-bottom: solid 6px #B15505;
}

.login h1{
    color: #B15505;
    font-size: 32px;
    margin-bottom: 100px;
}

.inputs-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 40%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.texto-inputs{
    color: #B15505;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-entrada{
    padding: 10px;
    width: 100%;
    height: 28px;
    border: 2px solid #B15505;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFBEC;
    color: #B15505;
    font-size: 14px;
    outline: none;
}

.input-entrada::placeholder{
    color: #b15505b4;
    font-size: 14px;
}

.esqueceu-senha a{
    color: #b15505b1;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.esqueceu-senha a:hover{
    text-decoration: underline;
}

.lembrar-me{
    margin-top: 20px;
    font-size: 14px;
    color: #B15505;
    appearance: none;
}

.lembrar-me input{
    cursor: pointer;
    margin-right: 5px;
    appearance: none;
    background-color: #FFF3D8;
    border: 2px solid #B15505;
    width: 20px;
    height: 20px;
}

.lembrar-me input:checked{
    appearance: none;
    background-color: #B15505;
}

.lembrar-me label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.btn-cancelar, .btn-salvar{
    padding: 10px 20px;
    width: 30%;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.btn-cancelar{
    background-color: #FFF3D8;
    color: #B15505;
    border: 2px solid #B15505;
}

.btn-salvar{
    background-color: #B15505;
    color: #FFF3D8;
    border: 2px solid #B15505;
}

.login-link{
    color: #b15505b1;
    font-size: 14px;
    margin-top: 20px;
}

.login-link a{
    color: #b15505b1;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover{
    text-decoration: underline;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B15505;
    flex-direction: column;
    height: 30vh;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text{
    color: #FFF3D8;
    font-size: 38px;
    width: auto;
}

img{
    width: 160px;
    height: auto;
}