*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: #FFF3D8;
    border-top: solid 6px #B15505;
    border-left: solid 6px #B15505;
    border-bottom: solid 6px #B15505;
}

.register h1{
    color: #B15505;
    font-size: 32px;
    margin-bottom: 45px;
}

.inputs-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 80%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.text-inputs{
    color: #B15505;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-container{
    position: relative;
}

.ocult-button{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 12px;
    top: 50%;
    transform: translateY(-60%);

}

.ocult-icon, .ocult-icon-confirm{
    width: 20px;
    right: 12px;
}


.entry-input{
    padding: 10px;
    width: 100%;
    height: 28px;
    border: 2px solid #B15505;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFBEC;
    color: #B15505;
    font-size: 14px;
    outline: none;
}

.entry-input::placeholder{
    color: #b15505b4;
    font-size: 14px;
}

.btns{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.btn-clear, .btn-register{
    padding: 10px 20px;
    width: 30%;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.btn-clear{
    background-color: #FFF3D8;
    color: #B15505;
    border: 2px solid #B15505;
}

.btn-register{
    background-color: #B15505;
    color: #FFF3D8;
    border: 2px solid #B15505;
}

.login-link{
    color: #b15505b1;
    font-size: 14px;
    margin-top: 20px;
}

.login-link a{
    color: #b15505b1;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover{
    text-decoration: underline;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B15505;
    flex-direction: column;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.logotype-text{
    color: #FFF3D8;
    font-size: 38px;
}

img{
    width: 200px;
}